<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <bean id="collegeService" class="com.nt.service.CollegeServiceImpl"/>
    
    <bean id="pmadvice" class="com.nt.advice.PerformanceMonitoringAdvice"/>
    <bean id="logadvice" class="com.nt.advice.LoggingAdvice"/>
    <bean id="cacheadvice" class="com.nt.advice.CacheAroundAdvice"/>
    
    <bean id="pfb" class="org.springframework.aop.framework.ProxyFactoryBean">
       <property name="proxyInterfaces">
        <list>
         <value>com.nt.service.CollegeService</value>
        </list>
       </property>
       <property name="target" ref="collegeService"/>
       <property name="interceptorNames">
        <array>
          <value>cacheadvice</value>
          <value>logadvice</value>
          <value>pmadvice</value>
        </array>
       </property>
    </bean>
</beans>
