<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


	<bean id="bankService" class="com.nt.service.BankServiceImpl" />

	<bean id="pmAdvice"
		class="com.nt.advice.PerformanceMonitoringAdvice" />

	<bean id="loggingAdvice" class="com.nt.advice.LoggingAdvice" />

	<bean id="cachingAdvice" class="com.nt.advice.CacheAroundAdvice" />
	<aop:config>
		<aop:pointcut
			expression="execution(java.lang.String com.nt.service.BankService.transferMoney(..))"
			id="ptc" />
		<aop:pointcut
			expression="execution(java.lang.String com.nt.service.BankService.*(..))"
			id="ptc1" />
		<aop:aspect ref="pmAdvice" order="1">
			<aop:around method="performance" pointcut-ref="ptc" />
		</aop:aspect>
		<aop:aspect ref="loggingAdvice" order="0">
			<aop:around method="logging" pointcut-ref="ptc1" />
		</aop:aspect>
		<aop:aspect ref="cachingAdvice" order="-1">
			<!-- <aop:around method="caching" pointcut-ref="ptc1"/> -->
			<!-- or -->
			<aop:around method="caching"
				pointcut="execution(java.lang.String com.nt.service.BankService.*(..))" />
		</aop:aspect>
	</aop:config>
</beans>
