<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Copy of IOC-Proj1-BasicSetterInjection/src/com/nt/test/ConstructorInjection.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.nt.test.ConstructorInjection"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Copy of IOC-Proj1-BasicSetterInjection"/>
</launchConfiguration>
