<!DOCTYPE html>
<html>
<head>
<style>
body {background-color: powderblue;}
h1   {color: blue;}
p    {color: green;}
span {
	color: #fc3012;
	font: x-small;
	font-family: verdana;
}
</style>
</head>
</html>