<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<bean id="book" class="com.nt.beans.Book">
		<property name="bid" value="5212"/>
		<property name="bname" value="Power of your subconsious mind"/>
		<property name="author" value="Joseph Murphy"></property>
		<property name="price" value="75.0f"/>
	</bean>

	<bean id="stud" class="com.nt.beans.Student">
		<property name="sid" value="1001"/>
		<property name="sname" value="srinivas"/>
		<!-- <property name="doj" value="5/1/1997"/> -->
		<property name="book" ref="book"/>
	
	</bean>

	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/> -->

 <!-- or -->
	<context:annotation-config/>	
</beans>
